.ds-meta,
#ds-thread #ds-reset .ds-powered-by {
  display: none;
}

#ds-thread #ds-reset .ds-sort a.ds-current,
#ds-thread #ds-reset .ds-sort a:active,
#ds-reset .ds-highlight,
#ds-thread #ds-reset .ds-login-buttons .ds-more-services {
  color: #069 !important;
}

#ds-thread #ds-reset #ds-bubble a,
#ds-thread #ds-reset #ds-bubble a:hover,
#ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover {
  color: #333333 !important;
}

#ds-thread #ds-reset .ds-post-self {
  border-top: 0;
}

#ds-thread #ds-reset li.ds-post {
  border-top: 1px dotted rgba(0, 0, 0, 0.13) !important;
}

#ds-thread #ds-reset .ds-comments-info {
  margin-top: 20px !important;
}

#ds-thread #ds-reset .ds-comments {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.13) !important;
}

#ds-thread #ds-reset li.ds-post {
  margin-bottom: 10px;
}

#ds-thread #ds-reset li.ds-post-placeholder {
  padding: 3em 0 !important;
  font-size: 14px;
}

#ds-thread #ds-reset ul.ds-children {
  border-left: 3px solid rgba(0, 0, 0, 0.13);
}

#ds-thread #ds-reset ul.ds-children .ds-post-self {
  padding-left: 20px;
}

#ds-thread #ds-reset .ds-toolbar {
  border-top: none !important;
}

#ds-thread #ds-reset .ds-post-toolbar {
  box-shadow: none;
  -webkit-box-shadow: none;
}

#ds-reset .ds-avatar,
#ds-reset .ds-avatar img {
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius:27px;
}

#ds-thread #ds-reset .ds-paginator div.ds-border {
  border: none !important;
}

#ds-thread #ds-reset .ds-paginator a.ds-current {
  color: #069 !important;
}